h1 {
  text-align: center;
}
.item {
  cursor: pointer;
  margin: 5px;
  padding: 20px;
  text-align: center;
}
.itemExtend {
  cursor: pointer;
  padding: 10px;
  text-align: none;
}
.login {
  float: right;
}
.titleBar {
  background-color: #dcdcdc;
}
.blue {
  color: rgb(33,150,243);
}
.green {
  color: rgb(0,200,83);
}
