<!DOCTYPE html>
<html>
<head>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app='foia'>
  <div ng-controller='RequestsCtrl' class='container'>
    <h1>Recent Requests</h1>

    <form role='form'>
      <div class='form-group'>
        <div class='input-group'>
          <input ng-model='postTime' class='form-control' />
          <span class='input-group-btn'>
            <button ng-click='makeRequest()' class='btn btn-default'>Make a request</button>
          </span>
        </div>
      </div>
    </form>
    <ul class='list-group'>
      <li ng-repeat='request in requests' class='list-group-item'>
        <strong>{{ request.parentUser }}</strong>
        <span ng-if="!request.response.replied"> requested </span>
        <span ng-if="request.response.replied"> received a response to </span>
        <strong>{{ request.mail.to }}</strong> at {{request.date}}
      </li>
    </ul>
  </div>
  <div ng-controller='RequestsCtrl'>
    {{ requests }}
    {{ users }}
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script>
    var app = angular.module('foia',[])
    app.controller('RequestsCtrl', function ($scope) {
      // $scope.makeRequest = function () {
      //   if ($scope.postTime) {
      //     $scope.requests.unshift({
      //       name: 'Charles Smith',
      //       request: 'Another obj link',
      //       response: false,
      //       timestamp: $scope.postTime
      //     })
      //     $scope.postTime = null
      //   }
      // }

      $scope.requests = [
      {
        parentUser : 'trevor',
        date : '10/24/2014',
        response : {
          replied : false,
          reply : {
            headers : null,
            subject : null,
            references : null,
            inReplyTo : null,
            text : null,
            date : null,
            attachments : null
          }
        }
        mail : {
          from : "FoiaFiler",
          to : "this@email.com",
          subject : "Sewage",
          text : "This is my request",
          html : null
        }
      }
      ]
      // $scope.users = [
      // {
      //   username : "trevor",
      //   password : "pass",
      //   personal : {
      //     // Contact info for request
      //     name : "Trevor Black",
      //     address : {
      //       lineOne : "555 W Orange St.",
      //       lineTwo : "P.O. box 32",
      //       city : "Urbana",
      //       state : "Illinois",
      //       postal : "61061"
      //     },
      //     email : "trevor@myemail.com",
      //     organization : "The Daily Illini",
      //     position : "Reporter"
      // }
      // ]


    })
  </script>

</body>
</html>
