<div class='container'>
  <form ng-submit='register(email, password, nameFirst, nameLast, addressLineOne, addressLineTwo, city, state, postal, organization, position, phone)'>

    <div class='row'>
      <div class='form-group col-xs-6'>
        <label>Email</label>
        <input class='form-control' type='text' ng-model='email'>
      </div>
      <div class='form-group col-xs-6'>
        <label>Password</label>
        <input class='form-control' type='password' ng-model='password'>
      </div>
    </div>

    <div class='row'>
      <div class='form-group col-md-6'>
        <label>First name</label>
        <input class='form-control' type='text' ng-model='nameFirst'>
      </div>
      <div class='form-group col-md-6'>
        <label>Last name</label>
        <input class='form-control' type='text' ng-model='nameLast'>
      </div>
    </div>

    <div class='row'>
      <div class='form-group col-lg-6'>
        <label>Address line one</label>
        <input class='form-control' type='text' ng-model='addressLineOne'>
      </div>
      <div class='form-group col-lg-6'>
        <label>Address line two</label>
        <input class='form-control' type='text' ng-model='addressLineTwo'>
      </div>
    </div>

    <div class='row'>
      <div class='form-group col-xs-4'>
        <label>City</label>
        <input class='form-control' type='text' ng-model='city'>
      </div>
      <div class='form-group col-xs-4'>
        <label>State</label>
        <input class='form-control' type='text' ng-model='state'>
      </div>
      <div class='form-group col-xs-4'>
        <label>Zip code</label>
        <input class='form-control' type='text' ng-model='postal'>
      </div>
    </div>

    <div class='row'>
      <div class='form-group col-xs-4'>
        <label>Organization</label>
        <input class='form-control' type='text' ng-model='organization'>
      </div>
      <div class='form-group col-xs-4'>
        <label>Position</label>
        <input class='form-control' type='text' ng-model='position'>
      </div>
      <div class='form-group col-xs-4'>
        <label>Phone</label>
        <input class='form-control' type='text' ng-model='phone'>
      </div>
    </div>

    <input class='btn btn-success btn-lg btn-block' type='submit' value='Register'>
  </form>
<div>
