<div class='container'>
  <form ng-submit='register(email, password, nameFirst, nameLast, addressLineOne, addressLineTwo, city, state, postal, organization, position)'>
    <div class='form-group'>
      <label>Email</label>
      <input class='form-control' type='text' ng-model='email'>
    </div>
    <div class='form-group'>
      <label>Password</label>
      <input class='form-control' type='password' ng-model='password'>
    </div>
    <div class='form-group'>
      <label>First name</label>
      <input class='form-control' type='text' ng-model='nameFirst'>
    </div>
    <div class='form-group'>
      <label>Last name</label>
      <input class='form-control' type='text' ng-model='nameLast'>
    </div>
    <div class='form-group'>
      <label>Address line one</label>
      <input class='form-control' type='text' ng-model='addressLineOne'>
    </div>
    <div class='form-group'>
      <label>Address line two</label>
      <input class='form-control' type='text' ng-model='addressLineTwo'>
    </div>
    <div class='form-group'>
      <label>City</label>
      <input class='form-control' type='text' ng-model='city'>
    </div>
    <div class='form-group'>
      <label>State</label>
      <input class='form-control' type='text' ng-model='state'>
    </div>
    <div class='form-group'>
      <label>Zip code</label>
      <input class='form-control' type='text' ng-model='postal'>
    </div>
    <div class='form-group'>
      <label>Organization</label>
      <input class='form-control' type='text' ng-model='organization'>
    </div>
    <div class='form-group'>
      <label>Position</label>
      <input class='form-control' type='text' ng-model='position'>
    </div>

    <a href='/login'><input class='btn btn-success btn-lg btn-block' type='submit' value='Register'></a>
  </form>
</div>
