<md-content class='md-padding'>
  <h3>Filter Requests</h3>
  <div layout='row'>
    <md-input-container>
      <label>Author</label>
      <input type='text' ng-model='filter.username' />
    </md-input-container>
    <md-input-container>
      <label>Subject</label>
      <input type='text' ng-model='filter.subject' />
    </md-input-container>
    <md-checkbox ng-model='filter.replied'>Replied</md-checkbox>
  </div>
  <h1>Recent Requests</h1>
  <md-list>
    <md-list-item ng-repeat='request in requests | orderBy: "-date"'>
      <md-item-content layout='row' flex>
        <md-whiteframe class='item md-whiteframe-z1 md-padding' ng-hide='showDetails' layout-align='center center' ng-click='showDetails = !showDetails' flex>
          <strong>{{request.username}}</strong>
          <span ng-if='request.replied'> recieved a response to </span>
          <span ng-if='!request.replied'> requested </span>
          <strong class='blue'>{{request.subject}}</strong> on <strong>{{request.date}}</strong>
        </md-whiteframe>
        <md-whiteframe class='itemExtend md-whiteframe-z2' ng-show='showDetails' ng-click='showDetails = !showDetails'>
          <div ng-show='showDetails'>
            <p class='green' style='text-align:center'>
              <strong>{{request.username}}</strong>
              <span ng-if='request.replied'> recieved a response to </span>
              <span ng-if='!request.replied'> requested </span>
              <strong>{{request.subject}}</strong> on <strong>{{request.date}}</strong>
            </p>
            <span>Request ID: {{ request._id }}</span>
          </div>
          <md-divider></md-divider>
          <div class='row' ng-show='showDetails'>
            <div>
              <div>
                <h3>Request:</h3>
              </div>
              <div ng-bind-html='request.request | newLine'>
                <span>{{ request.request }}</span>
              </div>
            </div>
            <div>
              <div>
                <h3>Response:</h3>
              </div>
              <div>
                <span>{{request.response}}</span>
              </div>
            </div>
          </div>
          <div ng-show='showDetails'>
            <div>
              <div>
                <h3>Attachments:</h3>
              </div>
              <div>
                <span>{{request.attachment}}</span>
              </div>
            </div>
          </div>
        </md-whiteframe>
      </md-item-content>
    </md-list-item>
  </md-list>
</md-content>
