<div class='container'>
  <h1>Recent Requests</h1>
  <ul class='list-group'>
    <li ng-repeat='request in requests | orderBy: "-date"' class='list-group-item'>
      <div style='padding: 5px;' class='item' ng-click='showDetails = ! showDetails'>
        <strong>{{ request.parentUser }}</strong>
        <span ng-if="!request.response"> requested </span>
        <span ng-if="request.response"> received a response to </span>
        <strong>{{ request.subject }}</strong> on <strong>{{ request.date }}</strong>
        <div class='row' ng-show='showDetails'>
          <div class="panel panel-default col-md-6" style='margin-top: 20px;'>
            <div class="panel-heading">
              <h3 class="panel-title">Request:</h3>
            </div>
            <div class="panel-body" ng-bind-html='request.mail | newLine'>
              <span>{{ request.mail }}</span>
            </div>
          </div>
          <div class="panel panel-default col-md-6" style='margin-top: 20px;'>
            <div class="panel-heading">
              <h3 class="panel-title">Response:</h3>
            </div>
            <div class="panel-body">
              <span>Response goes here</span>
            </div>
          </div>
        </div>
        <div class='row' ng-show='showDetails'>
          <div class="panel panel-default col-md-12">
            <div class="panel-heading">
              <h3 class="panel-title">Attachments:</h3>
            </div>
            <div class="panel-body">
              <span>Attachments go here</span>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  {{ currentUser }}
</div>
